

h2 Underrubrik

p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel quam beatae molestias doloremque id ducimus soluta quod sequi incidunt sapiente explicabo sed iure possimus expedita maiores, error fugit, doloribus earum cum quae saepe maxime. Aliquid, consequuntur? Fugiat atque nostrum temporibus, magni enim assumenda eveniet dolorum voluptatibus facilis, delectus non aut.

- fruits = ["apple", "pear", "banana", "tomato", "pikebomb", "graphite", "malware"]
h3 These are all fruits
ol
    - fruits.each do |fruit|

        li = fruit
