h2 Uppdatera din frukt 🏳️‍🌈😶‍🌫️🙀

form action="/fruits/#{@selected_fruit["id"]}/update" method="post"
    input type="text" value='#{@selected_fruit["name"]}' name="name"
    input type="number" value='#{@selected_fruit["amount"]}' name="amount"
    input type="submit" value="🧆Submit🧆"