form action="/fruits" method="post" 
    input name="new_fruit" placeholder="Namnge ny frukt" type="text"
    input type="number" name="amount" placeholder="1"
    input type="submit" value="Lägg till"

